.category-autocomplete {
  z-index: 100000000000;
  position: absolute;
  background-color: #F6F6F6;
  border: 1;
  margin-left: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}


.quiz-container {
  z-index: 1;
  width: 100%;
}

.quiz-column {
  width: 20%;
}
