<div class="row">
  <div class="col-sm-11">
    <select #category id="categorySelect" (change)="setSubcategories($event)">
      <option>Select category</option>
      <option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>
    <!-- <input #category type="text" list="categoryAutocomplete" />
      <datalist id="categoryAutocomplete">
        <option>Select category</option>
      <option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
      </datalist> -->
    <select
      [hidden]="searchSubcategories.length === 0"
      #subcategory
      id="subCategorySelect"
    >
      <option value="0">Select subcategory</option>
      <option
        [value]="category.id"
        *ngFor="let category of searchSubcategories"
      >
        {{ category.name }}
      </option>
    </select>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>

    <button
      class="primary"
      id="createBtn"
      (click)="createQuiz(category.value, difficulty.value, subcategory.value)"
    >
      Create
    </button>
  </div>
</div>
<div class="row">
  <app-quiz
    [questions]="questions$ | async"
    [categoryId]="category.value"
  ></app-quiz>
</div>
<div class="row">
  <div class="row" *ngFor="let category of categories">
    <p>
      <app-autocomplete-option
      [searchString]="'en'"
      [category]="category"
    >
    </app-autocomplete-option>
    </p>

    <br/><br/>
  </div>

</div>
